!!! 5
html(lang='en', dir='ltr').no-js
	head
		include includes/head

	body(id=page.pageSlug, class=page.pageType)
		include includes/header
		include includes/nav
		section.main(role='main')!= page.body
		include includes/footer
