!!! 5
html.no-js(lang='en', dir='ltr')
	head
		include includes/head

	body(id=pageSlug, class=pageType)
		block header
		section.main(role='main')
			block content
				!= body
		include includes/nav
		include includes/footer
